@import "/styles/custom.pallette.scss";

.desktopContainer {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.desktopItemContainer {
    justify-content: center;
    text-align: center;
    align-self: center;
    padding: 0px;
}

.mobileContainer {
    position: absolute;
    bottom: 0px;
    background: $primary-dashboard;
    width: 100%;
    height: 60px;
}

.mobileItemContainer {
    justify-content: center;
    text-align: center;
    align-self: center;
}

.mobileItemContainer img {
    max-width: 30px;
}

.desktopItemContainer img {
    max-width: 40px;
}