@import "/styles/custom.pallette.scss";

.error {
    font-size: 10px;
    color: $secondary-red;
}

// radio buttons styles

.radioButtons input {
    max-width: 100px;
}

.radioButtons input[type="radio"] {
    border: none;
}

.radioButtons img {
 max-width: 50px;
}


.radioButtons input[type="radio"] {
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
}

.radioButtons input[type="radio"]:after {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 2px solid $secondary-red;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}
.radioButtons input[type="radio"]:checked:after {
    background-color: #f66;
    
}

