@import "/styles/custom.pallette.scss";

.desktopContainer {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.mobileContainer {
    position: absolute;
    bottom: 0px;
    background: $primary-dashboard;
    width: 100%;
    height: 60px;
    z-index: 2;
}

.mobileItemContainer {
    justify-content: center;
    text-align: center;
    align-self: center;
}

.mobileItemContainer img {
    max-width: 30px;
    cursor: pointer;
}

.exitContainer {
    display: flex;
    justify-content: flex-end;
}

.exit {
    max-width: 25px;
    max-height: 25px;
    margin:10px;
}

.icon{
    cursor: pointer;
}


@media (min-width: 922px) { 

    .desktopContainer {
        display: flex;
        width: 100%;
    }

    .desktopItemContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .desktopItemContainer div:first-of-type {
        align-self: center;
    }

    .desktopItemContainer img {
        max-width: 40px;
        max-height: 40px;
        align-self: center;
    }

    .desktopItemContainer span {
        font-size: 17px;
        color: $secondary-blue;
    }

    .actionButtons {
        display: flex;
        flex-direction: column;
    }

    .exit {
        max-width: 30px;
        max-height: 30px;
        margin:10px
    }

    .actionButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
        
    }


}