@import "/styles/custom.pallette.scss";

.full {
    display: flex;
	flex-direction: row;
	justify-content: center;
    box-shadow: 0px 0px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #fdd702 5%, #fab546 100%);
	background-color:#fdd702;
	border:1px solid $black;
	display:flex;
	flex-direction: row;
	justify-content: center;
	padding: 7px;
	cursor:pointer;
	color:black;
    font-size:12px;
	font-family: $font-secondary;
	margin: 10px;
	max-width: 200px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.outline {
	display: flex;
	flex-direction: row;
	justify-content: center;
    box-shadow: 0px 0px 0px 0px #fff6af;
	background:none;
	background-color:none;
	border:1px solid $black;
	display:flex;
	flex-direction: row;
	justify-content: center;
	padding: 7px;
	cursor:pointer;
	color:black;
    font-size:12px;
	font-family: $font-secondary;
	margin: 10px;
	max-width: 200px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.warning {
	display: flex;
	flex-direction: row;
	justify-content: center;
    box-shadow: 0px 0px 0px 0px #fff6af;
	background:linear-gradient(to bottom, rgb(214, 40, 40) 5%, hsl(0, 100%, 59%) 100%);
	background-color:$secondary-red;
	border:1px solid $black;
	display:flex;
	flex-direction: row;
	justify-content: center;
	padding: 7px;
	cursor:pointer;
	color:black;
    font-size:12px;
	font-family: $font-secondary;
	margin: 10px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	
}

.mobile {
	display: inline-block;
    text-decoration: none;
	background:$primary-yellow-gradient;
    width: 55px;
    height: 60px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    border:none;
    transition: .4s;
}

.buttonImageMobile {
	width: 35px !important;
	margin: auto;
}

.full:hover{
	background:linear-gradient(to bottom, #fab546 5%, #fdd702 100%);
	background-color:#fab546;
}

.outline:hover {
	border: 2px solid $black;
}


.buttonImage {
	width: 20px !important;
	margin: 0px 0px 0px 10px;	
}
