@import "/styles/custom.pallette.scss";

// render main page styles

.logoMain {
    font-size: 3.5em;
    font-family: $font-primary;
    color: $black;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    line-height: 0.7;
    position: relative;
    top: 20px;
    width: 100vw;
}

.dividerMain {
    border-top: 5px solid $black;
}

.secondTitleMain {
    font-family: $font-secondary;
    font-size: 12px;
    line-height: 20px;
}

// render other pages styles

.logoOtherPages {
    font-size: 20px;
    font-family: $font-primary;
    color: $black;   
    text-align: right;
    position: relative;
    line-height: 0.9;
    text-align: right;
    top:60px;
    width: 100%;
    padding: 0px;
}

.productCategory {
    padding: 0px;
    font-size: 15px;
    font-family: $font-secondary;
    margin-top: 4px;
    text-align: right;
}

.dividerOtherPages {
    border-top: 5px solid $black;
    width: 100%;
    
}

.undertitle {
    display: none;
}


@media (min-width: 992px) { 

    // main page
    
    .logoMain {
        font-size: 10em;
        height: 135px;
    }

    .dividerMain {
        border-top: 10px solid $black;
    }
    
    .secondTitleMain {
        font-family: $font-secondary;
        font-size: 0.2em;
        padding-right: 60px;
        margin: 10px 0px 0px 0px;
    }
 
    // other pages

    .otherPages {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        height: 50vh;
    }

    .logoOtherPages {
        height: 30vh;
        display: flex;
        align-content: flex-end;
        text-align: left;
        width: fit-content;
        width: 70%;
        justify-content: right;
    }

    .dividerOtherPages {
        width: 300px;
    }

    .logoOtherPages:first-child {
        font-size: calc(7vw + 1vh);
        align-items: baseline;
    }

    .productCategory {
        font-size: 0.4em;
    }

    .undertitle {
        font-size: 10px;
        display: block;
    }
 
 }
