@import "/styles/custom.pallette.scss";

.container {
    height: fit-content;
    width: 100%;
    position: absolute;
    text-align: right;
    top:60px;
}

.dividerMobile {
    width: 100%;
    width: 70%;
    float: right;
    border-top: 3px solid $black;
}

.divider {
    display: none;
}


.containerMain {
    width: 100%;
    position: absolute;
    top:41vh;
    text-align: right;
}

.logoMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 3.5em;
    height: 90px;
    font-family: $font-primary;
    color: $black;
}

.logo {
    font-size: 1.5em;
    height: 90px;
    font-family: $font-primary;
    color: $black;  
}

.secondTitleMain {
    width: 100%;
    font-family: $font-secondary;
    font-size: 12px;
    padding-right: 35px;
    height: inherit;
}

.secondTitle {
    font-family: $font-secondary;
    font-size: 17px;
    text-align: right;
    padding-right: 15px;
}

.undertitle {
    display: none;
}

//desktop

@media (min-width: 768px) { 

    .container {
        position: fixed;
        top:25%;
    }
    .logo {
        font-size: 150px;
    }

    .dividerMobile  {
        display: none;
    }

    .divider{
        display: block;
        border-top: 10px solid $black;
        width: 60%;
        float: right;
    }

    .logo {
        height: 130px;
        text-align: right;
    }

    .secondTitle {
        font-family: $font-secondary;
        font-size: 45px;
        text-align: right;
        padding-right: 15px;
    }

    .undertitle {
        display: block;
        font-size: 15px;
        padding: 0px 15px 10px 40%;
    }

    

    
 }
