@import "/styles/custom.pallette.scss";

// render main page styles

.logoMain {
    font-size: 3.5em;
    font-family: $font-primary;
    color: $black;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    line-height: 0.7;
    position: relative;
    top: 35px;
    width: 100vw;
    align-items: baseline;
}

.insta, .etsy {
    max-width: 35px;
    max-height: 35px;
    padding-right: 20px;
}

.etsy {
    margin-left: 20px;
}

.dividerMain {
    border-top: 5px solid $black;
}

.presentationImage {
    display: none;
}

.secondTitleMain {
    font-family: $font-secondary;
    font-size: 12px;
    line-height: 20px;
    padding:0px;
}

// render other pages styles

.logoOtherPages {
    display: flex;
    width: 100%;
    font-size: 20px;
    font-family: $font-primary;
    color: $black;   
    text-align: right;
    line-height: 0.9;
    text-align: right;
    justify-content: center;
    align-items: center;
}

.productCategory {
    padding: 0px;
    font-size: 15px;
    font-family: $font-secondary;
    margin-top: 4px;
    text-align: right;
}

.logoText {
    display: flex;
    justify-content: flex-end;
}

.mainLogo, .productCategory {
    display: inline-block;
 }

.dividerOtherPages {
    border-top: 5px solid $black;
    width: 100%;   
}

.undertitle {
    display: none;
}


@media (min-width: 1200px) { 

    // main page
    
    .logoMain {
        font-size: 10em;
        height: 135px;
        top:20px
    }

    .dividerMain {
        border-top: 10px solid $black;
    }

    .logoOtherPages {
        align-self: center;
    }
    
    .secondTitleMain {
        font-family: $font-secondary;
        font-size: 0.2em;
        padding-right: 60px;
        margin: 10px 0px 0px 0px;
    }
 
    // other pages

    .otherPages {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        height: fit-content;
        padding: 0px;
        justify-content: flex-start;
    }

    .logoOtherPages {
        padding-top: 20px;
        display: flex;
        text-align: left;
        width: fit-content;
        align-content: flex-start;
        justify-content: flex-end;
        flex: 1;
    }

    // inner container
    .logoOtherPages :first-child {
        height: 90%;
        font-size: calc(7vw + 1vh);
        align-items: baseline;
    }
    .productCategory {
        display: flex;
        font-size: calc(3vw + 1vh);
        align-content: flex-end;
        align-items: flex-end;
    }

    .logoText {
        justify-content: flex-start;
    }

    .presentationImage {
        display: flex;
        justify-content: flex-end;
    }

    .undertitle {
        font-size: 20px;
        display: block;
        padding: 10px 0px 0px 10px;
    }

    .etsy {
        padding-left: 50px;
        padding-right: 20px;
        cursor: pointer;
    }
    
    .insta {
        padding-bottom: 10px;
        cursor: pointer;
    }
   
    .secondTitleMainEtsy {
        padding: 0px;
    }
 
 }
