@import "../../styles/custom.pallette.scss";

.card {
    //border: 1px solid red;
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    padding: 0px;
    justify-content: center;
}

.image img {
    min-width: 100%;
}

.name {
    font-family: $font-primary;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.description {
    font-family: $font-secondary;
}

.price {
    font-size: 35px;
    padding: 10px 0px 10px 0px;
}

.tag {
    color:$black;
    border: 1px solid $black;
    padding: 4px 8px 4px 8px;
    margin: 0px 10px 0px 0px;
    border-radius: 7px;
}
// DESKTOP

@media (min-width: 922px) { 

    .container {
        height: fit-content;
        position: absolute;
        top:unset;
        bottom: 50px;
    }

    .card {
        max-width: 250px;  
    }

    .name, .description, .price, .tags, .buttons {
        display: none;
    }

    .card{
        width: fit-content;
    }
    
}