@import "../../styles/custom.pallette.scss";

.productsContainer {
    padding: 0px;
}

.card {
    //border: 1px solid red;
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    padding: 0px;
    justify-content: center;
}

.image img {
    min-width: 100%;
}

.overlay {
    display: none;
}

.name {
    font-family: $font-primary;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.description {
    font-family: $font-secondary;
}

.price {
    font-size: 35px;
    padding: 10px 0px 10px 0px;
}

.tag {
    color:$black;
    border: 1px solid $black;
    padding: 4px 8px 4px 8px;
    margin: 0px 10px 0px 0px;
    border-radius: 7px;
}
 
// DESKTOP

@media (min-width: 922px) { 

    .ProductsContainer {
        justify-self: end;
    }

    .card {
        max-width: 250px;  
    }

    .name, .description, .price, .tags, .buttons {
        display: none;
    }

    .overlayPadding {
        padding: 20px;
    }

    // styles on the overlay

    .overlayPadding {
        padding: 20px;
    }

    .overlayName {
        text-align: center;
        font-family: $font-secondary;
        font-size: 15px;
        font-weight: bolder;
        padding: 0px;

    }

    .overlayDescription {
        padding: 10px 0px 10px 0px;
        text-align: center;
    }

    .overlayPrice {
        text-align: right;
        width: 90%;
        font-family: $font-secondary;
        font-size: 15px;
        font-weight: bolder;
    }

    .overlayButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
    }

    .image:hover .overlay {
        max-width: 90%;
        max-height: 90%;
        position: absolute;
        background: $white-opacity;
        top:5%;
        left:5%;
        height: 100%;
        width: inherit;
        display: block;
        transition: height 2s;       
    }


    .image:hover img {
        opacity: 0.7;
        filter: brightness(0.9);
    }

    .image img {
        min-width: unset;
    }

    .overlayDivider {
        border-top: 1px solid black;
        width: 80%;
        margin:auto
    }
     
}