@import "../../styles/custom.pallette.scss";

.container {
    width: 100%;
    position: absolute;
    top:15%;
    overflow: hidden;
    line-height: 30px;
}

.card li:first-child img {
    margin: auto;
}

.name, .description, .price, .tags, .buttons {
    margin-left: 30px;
}

.name {
    font-family: $font-primary;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.description {
    font-family: $font-secondary;
}

.price {
    font-size: 35px;
    padding: 10px 0px 10px 0px;
}

.tag {
    color:$black;
    border: 1px solid $black;
    padding: 4px 8px 4px 8px;
    margin: 0px 10px 0px 0px;
    border-radius: 7px;
}
