@import "custom.pallette.scss";

.mobileContainer {
    background:url("/brown-texture.jpg");
    position: fixed;
    top:0px;
    height: 100%;
    z-index: -2;
}

.contactContainer {
    align-self: center;
    margin-left:0px
}


@media (min-width: 922px) { 

    .aboutContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .backgroundTexture {
        position: fixed;
        top:0px;
        height: 100%;
        left:10%;
        background: url("/brown-texture.jpg");
        max-width: 800px;
        min-width: 600px;  
        z-index: -1;      
    }

    .image {
        width: 100%;
        max-width: 400px;
    }

    .name {
        align-self: start !important;
        font-size: 3em;
    }

    .aboutText {
        max-width: 400px;
        text-align: justify;
    }

}
