.row {
    border: 1px solid red;
} 

.productsContainer {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentationImage  {
    display: none;
    
}

@media (min-width: 922px) { 

    .presentationImage  {
        position: absolute;
        top:2%;
        left: 8.2%;
        display: block;
        width: calc(22vw + 1vh);   
    }

    .productsContainer {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 85%;
        margin: auto;
    }


}

