@import "custom.pallette.scss";

.panierContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    overflow: scroll;
    justify-content: flex-start;
}

.cartBlock {
    border: 3px solid $primary-yellow;
    margin: auto;
    margin-top: -55px;
    border-radius: 5px;
}

.table {
    padding: 10px;
    width: unset !important;   
}

.table th, .table td {
    border-bottom: none;
    line-height: 1px;
    font-family: $font-secondary;
}

.tableRowTotal :last-child {
    border-bottom: 2px solid $black;
}

.greeting em {
    padding: 0px;
    text-transform: uppercase;
    font-family: $font-primary;
    color: $black;
    font-weight: bolder;
}

.greeting {
    padding: 10px;
    font-size: 14px;
    background-color: $primary-yellow;
    box-shadow: rgba(0, 0, 0, 0.15) 0.0px 2.4px 3.2px;
    width: 90%;
}

.greeting span {
    font-family: $font-primary;
}

.panierContainer button {
    float: right;
    margin: 10px 0px 0px 0px;
}

@media (min-width: 922px) {

    .panierContainer {
        height: 90%;
        width: 90%;
        align-self: flex-end;
        align-content: flex-end;
    }

    .panierContainer img {
        width: 100%;
    }

    .cartBlock {
        width:50%;
        height: 80%;
        margin: 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

    .table {
        padding: 20px;
    }

    .panierContainer button {
        margin: 20px;
    }

    .greeting {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .greeting span {
        text-align: center;
        font-size: 18px;
    }
} 
