@import "custom.pallette.scss";

.container {
    width: 100%;
    height: 100%;
    background-image: url(/yellow-background.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.featuredImage {
    display: none;
}

@media (min-width: 768px) { 

    .container {
        background-image: none;
    }

    .featuredImage {
        display: inline-block;
        position: absolute;
        top:10px;
        left:250px;
 
    }

    .imageBack {
        width: 450px;
        height: 480px;
    }

    .imageFront {
        position: relative;
        width: 390px;
        height: 425px;
        bottom:25px;
        right:320px;

    }

    
}

