    $font-primary: 'OCR A Extended';
    $font-secondary: 'Nanum Gothic Coding', 'monospace';
    $primary-yellow-gradient: linear-gradient(310deg,#fdd802, #d6a10e);
    $primary-yellow-gradient-button:linear-gradient(to right, #ffea71 0%, #e2c001  51%, #fdd802 100%);
    $primary-yellow:#fdd802;
    $primary-yellow-opacity:rgba(253, 216, 2, 0.5);
    $yellow-borders: #d6a10e;
    $yellow-opacity:rgba(253, 216, 2, 0.3);
    $white-opacity: rgba(255, 249, 249, 0.5);
    $white: #f2f2f2;
    $gray: #d8d5d5;
    $black: #000000;

    // dashboard pallette

$primary-dashboard: rgba(227, 199, 175, 0.7);
$dash-borders: #b69c89;
$secondary-red: #D62828;
$secondary-blue: #003049; 
$secondary-darkBlue: #212F45;
$pale-lemon: #EAE2B7;
$block-box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;  
$block-box-shadow-hover: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  // link to the pallette: https://coolors.co/003049-d62828-f77f00-fcbf49-eae2b7  