    $font-primary: 'OCR A Extended';
    $font-secondary: 'Nanum Gothic Coding', 'monospace';
    $primary-yellow-gradient: linear-gradient(310deg,#fdd802, #d6a10e);
    $primary-yellow-gradient-button:linear-gradient(to right, #ffea71 0%, #e2c001  51%, #fdd802 100%);
    $primary-yellow:#fdd802;
    $yellow-opacity:rgba(253, 216, 2, 0.3);
    $white-opacity: rgba(255, 249, 249, 0.5);
    $white: #f2f2f2;
    $gray: #d8d5d5;
    $black: #000000;

    // $primary-yellow:  linear-gradient(310deg,#fdd802, #000000);

   

    