    $font-primary: 'OCR A Extended';
    $font-secondary: 'Nanum Gothic Coding', 'monospace';
    $primary-yellow: linear-gradient(310deg,#fdd802, #d6a10e);
    $white: #f2f2f2;
    $gray: #d8d5d5;
    $black: #000000;

    // $primary-yellow:  linear-gradient(310deg,#fdd802, #000000);

   

    