@import "custom.pallette.scss";
@import url(//db.onlinewebfonts.com/c/f2ecc6ef740fcf60de095b0b087dd58d?family=OCR+A+Extended);
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: content-box;
}


html,
body,
.content,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  color: $black;
}

p {
  margin: 0px;
}

.cursor {
  display: none;
}

  /* CAROUSEL STYLES */
  .slick-slide[aria-hidden="true"] {
    opacity: 0.5;
}

.slick-slide>div:first-of-type {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  justify-content: center;
}

.slick-dots {
  position: relative !important;
  bottom: 0px !important;
}

.slick-dots li.slick-active button:before {
  font-size: 10px;
}

@media (min-width: 768px) { 

  /* CAROUSEL STYLES DESKTOP */

  .slick-slide img {
    max-width: 95%;
}

  .slick-slide {
    width: fit-content !important;
    padding: 0px;
  }

  .slick-slide>div:first-of-type {
    padding: 0px ;
  }

  .slick-slider {
    width: 75% !important;
  }

  

}





