@import "custom.pallette.scss";
@import url(//db.onlinewebfonts.com/c/f2ecc6ef740fcf60de095b0b087dd58d?family=OCR+A+Extended);
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: content-box;
}


html,
body,
.content,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-fluid {
  padding: 0px;
  height: 100vh;
  width: 100wv;
}

.row {
  padding: 0px;
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  color: $black;
}

h2{
  padding: 20px;
}

h3 {
  font-family: $font-primary;
}

a {
  color: $black;
  font-family: $font-primary;
}
span {
  font-family: $font-secondary;
}

label, ::placeholder {
  margin:10px 0px 0px 0px;
  font-family: $font-secondary;
}
input, textarea {
  border-radius: 5px;
  border: 1px solid $yellow-borders;
  min-height: 35px;
}

::placeholder {
  font-size: 12px;
  padding: 5px;
}



p {
  margin: 0px;
}

dd {
  padding: 20px;
}

.cursor {
  display: none;
}

  /* CAROUSEL STYLES */
  .slick-slide[aria-hidden="true"] {
    opacity: 0.5;
}

.slick-slide {
  padding: 0px;
  max-width: 260px;
  
}

.slick-slide>div:first-of-type {
  display: flex;
  flex-direction: column;
  //padding: 0px 20px 20px 20px;
  justify-content: center;
}

.slick-dots {
  position: relative !important;
  bottom: 0px !important;
}

.slick-dots li.slick-active button:before {
  font-size: 10px;
}

.slick-slider {
  padding-top: 80px;
}

// bootstrap tab styles

.nav-link.active {
  border-bottom: 5px solid $primary-yellow;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border:none;
  background: none;
  border-bottom: 2px solid $yellow-borders;
}


@media (min-width: 768px) { 

  /* CAROUSEL STYLES DESKTOP */
  
  .slick-slide[aria-hidden="true"] {
    opacity: unset;
}

// styles for material UI table

.MuiDrawer-paper {
  background-color: $primary-dashboard !important; // :( every time you use !important angel looses it's wings 
  width: 10%;
}

.MuiTableCell-head {
  font-weight: bolder !important; //NOOOOOOOOOOOOOO
}

}





