@import "/styles/custom.pallette.scss";

.form {
    display: flex;
    flex-direction: column;
    margin:20px;
}

.formText {
    font-size: 12px;
}

.errorMsg{
    font-size: 12px;
    color: $secondary-red;
    min-height: 15px;
    position: relative;
}

/* form animation starts */
.form {
    display: flex;
    flex-direction: column;
    margin:20px;
    padding: 20px;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    position: absolute;
    border: 1px solid $yellow-borders;
    background-color: $primary-yellow;
  /*   z-index: 1; */
    animation: bounce 1.5s infinite;
  }

  .form :last-child {
    align-self: center;
  }
 
    @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 
  